.container {
  margin-top: 1em;
  height: auto;
  max-height: 50em;
  padding: 1em;
  background: var(--color-secondary);
  border-radius: 0.5em;
  width: auto;
  max-width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
