.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: space-between;

  .head-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 3rem;
      color: var(--color-tertiary);
      margin-bottom: 0;
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: var(--color-tertiary);
    }

    p {
      margin: 0.5em;
      font-size: 1.25rem;
      color: var(--color-quaternary);
    }

    .top-container {
      display: flex;
      h3{
        margin-top: 3em;
        margin-right: 1em;
        color: var(--color-tertiary);
      }

    .item-container {
      margin-top: 2em;
      padding: 0.5em;
      border-radius: 0.5em;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      background: var(--color-secondary);

      img {
        width: 2em;
        height: 2em;
      }

      .item-name {
        font-size: 1.25rem;
        color: var(--color-quaternary);
      }

    }
  }
    .selector-container{
      display: flex;
      flex-direction: row;
      .selector{
        margin: 0.5em 2em;
        padding: 0.5em;
        border-radius: 0.5em;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
          transform: scale(1.05);
        }
      }

      .underline {
        text-decoration: underline;
      }
    }
  }

  .bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--color-tertiary);
    h3{
      margin: 0;
    }
    .list-container {
      display: flex;
      flex-wrap: wrap;
      margin-top: 1em;

      img:hover {
        cursor: pointer;
        box-shadow: var(--color-tertiary) 0 0 10px;
      }
    }
  }
}
